<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="local" value="true"/>
  </appSettings>
  <userSettings>
    <Testing.Properties.Settings>
      <setting name="Foundry" serializeAs="String">
        <value />
      </setting>
    </Testing.Properties.Settings>
  </userSettings>
</configuration>