<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Testing.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="local" value="true"/>
  </appSettings>
  <userSettings>
    <Testing.Properties.Settings>
      <setting name="Foundry" serializeAs="String">
        <value />
      </setting>
    </Testing.Properties.Settings>
    <Testing.Settings>
      <setting name="FoundryTargets" serializeAs="String">
        <value />
      </setting>
      <setting name="FoundryApplications" serializeAs="String">
        <value />
      </setting>
      <setting name="FoundryDeployment" serializeAs="String">
        <value />
      </setting>
      <setting name="FoundryService" serializeAs="String">
        <value />
      </setting>
    </Testing.Settings>
  </userSettings>
</configuration>