<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <appSettings>
    <add key="local" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="JörðEntities" connectionString="metadata=res://*/Models.JörðEntities.csdl|res://*/Models.JörðEntities.ssdl|res://*/Models.JörðEntities.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\App_Data\Jörð.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>